@{
    ViewBag.Title = "Quizzish - Succesful Registration";
}

<h2 class="text-secondary text-uppercase mb-2">Success</h2>
<div class="seperate"></div>
<h5 class="text-white text-uppercase mb-2">You successfully registered. </h5>
<h5 class="text-white text-uppercase mb-2">Please check your email account to verify your email. </h5>

