@{
    ViewBag.Title = "Quizzish - Succesful Verification";
}

<h4 class="text-white ">Thank you for verifying your email.</h4>
<div class="seperate"></div>
<h4>Please log in here</h4>
<div class="seperate"></div>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Go To Login</a>